---
layout: default
title: Hello !
---

<p>
	This portfolio documents my technical work before attending 42 School in 2024,
	including Unity projects developed during preparation for the Unity Associate Programmer Certification and a
	JavaScript syntax familiarization project.
</p>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fa0ffbdf-a7c2-4366-9847-715d078fb0aa"
	data-share-badge-host="https://www.credly.com"></div>
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

<!--{% for item in site.data.collage %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 1 %}<div style="display:flex; flex-direction:row">
    {% endif %}
    <a href={{ item.link }}>
        {% if item.type == "image" %}
        <img class="collage" src={{ item.source }}>
        {% else if item.type == "video" %}
        <video class="collage" autoplay muted loop playsinline>
            <source src={{ item.source }} type="video/mp4">
        </video>
        {% endif %}
    </a>
    {% if remainder == 0 %}
</div>
    {% endif %}
    {% endfor %}-->