---
layout: default
---
<p>
    <br>
    Welcome to my portfolio. I'm Amaury Loubry, a certified Unity Programmer in C# looking to get professional experience to start my career as a freelancer.<br>
    I started using Unity in November 2020, working on small projects to learn by myself.<br>
    In 2022, I followed a series of courses established by a French company named Event Orizon as well as Unity,
    and I recently passed the exam to become a Certified Unity Associate Programmer.<br><br>
    In addition to Unity, I've gained experience working with many different creative softwares such as Ableton Live and Cubase for music production/audio mixing,
    as well as Adobe Premiere Pro or Adobe After Effects for video editing/production.
    Those experiences gave me a good technical foundation and adaptability as I mostly learned to work on these softwares by myself.<br><br>
    Outside of work, my hobbies and interests include: cooking, traveling, music production, and board/video gaming.
    <br><br>
    Feel free to explore my works within and to contact me with any questions, collaborations, etc.
</p>

<div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="fa0ffbdf-a7c2-4366-9847-715d078fb0aa" data-share-badge-host="https://www.credly.com"></div>
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

<!--{% for item in site.data.collage %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% if remainder == 1 %}<div style="display:flex; flex-direction:row">
    {% endif %}
    <a href={{ item.link }}>
        {% if item.type == "image" %}
        <img class="collage" src={{ item.source }}>
        {% else if item.type == "video" %}
        <video class="collage" autoplay muted loop playsinline>
            <source src={{ item.source }} type="video/mp4">
        </video>
        {% endif %}
    </a>
    {% if remainder == 0 %}
</div>
    {% endif %}
    {% endfor %}-->
