---
layout: default
title: Current Project
---
<p>
    The idea for this game was to create a roguelite (a
    <a target="_blank" href="https://en.wikipedia.org/wiki/Roguelike">Roguelike</a>
    with progression elements that persists even after failure) based on melee combat.<br><br />
    I implemented an algorithm to procedurally generate dungeons that the player would go through, 
    and started working on a combat system that is simple, reactive, and one that rewards skill (like a
    <a target="_blank" href="https://en.wikipedia.org/wiki/Soulslike">Soulslike</a>).<br><br />
    Check out the subcategories of this project to see what I have worked on.
</p>

<!--{% for item in site.data.navigation %}
{% if item.name == page.title %}
    {% for subitem in item.subs %}
    <div class="nav-sublinks nav-item">
        <a href="{{ subitem.link }}">{{ subitem.name }}</a>
    </div>
    {% endfor %}
{% endif %}
{% endfor %}-->
