---
layout: default
title: Roguelite
---

<p>
  The idea for this game was to create a roguelite (a
  <a target="_blank" href="https://en.wikipedia.org/wiki/Roguelike">Roguelike</a>
  with progression elements that persists even after failure) based on melee combat.<br /><br />
  I implemented an algorithm to
  <a href="/content/roguelite_project/procedural_dungeon_generation.html">procedurally generate dungeons</a>
  that the player would go through, and started working on a combat system before moving on to other projects
</p>

<!--{% for item in site.data.navigation %}
{% if item.name == page.title %}
    {% for subitem in item.subs %}
    <div class="nav-sublinks nav-item">
        <a href="{{ subitem.link }}">{{ subitem.name }}</a>
    </div>
    {% endfor %}
{% endif %}
{% endfor %}-->
