<nav>
    <div class="nav-list">
        {% for item in site.data.navigation %}
        <div {% if page.url == item.link %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a href="{{ item.link }}">{{ item.name }}</a>
        </div>
        {% for subitem in item.subs %}
        <div {% if page.url == subitem.link %}class="nav-sublinks nav-item active"{% else %}class="nav-sublinks nav-item"{% endif %}>
            <a href="{{ subitem.link }}">{{ subitem.name }}</a>
        </div>
        {% endfor %}
        {% endfor %}
        <div id="nav-contact" {% if page.url == "/content/contact.html" %}class="nav-item active"{% else %}class="nav-item"{% endif %}>
            <a href="/content/contact.html">Contact & Socials</a>
        </div>
    </div>
</nav>