@font-face {
    font-family: Mermaid;
    src:    url('/assets/font/Mermaid.woff') format('woff'),
            url('/assets/font/Mermaid.ttf')  format('truetype');
}

@font-face {
    font-family: MadeOuterSans;
    src:    url('/assets/font/MADEOuterSans-Light.woff') format('woff'),
            url('/assets/font/MADEOuterSans-Light.ttf')  format('truetype');
}

@font-face {
    font-family: Philosopher;
    src:    url('/assets/font/Philosopher-Regular.woff') format('woff'),
            url('/assets/font/Philosopher-Regular.ttf') format('truetype');
}

body {
    font-family: MadeOuterSans, Mermaid, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#body-wrapper {
    max-width: 1200px;
    /* This margins is calculated from the size of the content to center it.
        WARNING: You need to update this if you change the size of the sidebar or the content-wrapper.
        Formula is : half of the viewport width - half of the content-wrapper width - half of the sidebar width */
    margin-left: calc(50vw - min(850px, 55vw) / 2 - 125px);
}


/* Sidebar styles - desktop */
#header-mobile {
    display: none;
}

#mobile-sidebar-content  {
    display: none;
}

#header-desktop {
    position: fixed;
    width: 200px;
    text-align: left;
}

#header-desktop::after {
    content:"";
    background: #343434;
    position: absolute;
    top: 0;
    left: 220px;
    margin-top: 25px;
    height: calc(100% - 25px);
    width: 3px;
}

.sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.sidebar-title {
    font-size: 27px;
    font-weight: 900;
}

.sidebar-subtitle {
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.nav-list {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item > a:hover {
    color: grey;
}

.nav-item.active {
    color: rgb(133, 16, 16);
}

.nav-item > a.active:hover {
    color: unset;
}

#nav-contact {
    margin-top: 20px;
    font-size: 20px;
}

.nav-sublinks {
    margin-left: 20px;
    font-size: 15px;
}

a {
    color: unset;
    text-decoration: unset;
}

#content-wrapper {
    /* 1200 - padding - sidebar_width */
    /* max-width: 1000px; */
    width: min(850px, 55vw);
    margin-left: 250px;
    text-align: left;
}

div.center {
    text-align: center;
}

/* Text styles */
#content-wrapper p,
#content-wrapper .p-like {
    line-height: 2;
    color: #242424;
}

#content-wrapper .p-like {
    line-height: unset !important;
}
#content-wrapper p a,
#content-wrapper .p-like a {
    color: grey;
    text-decoration: underline;
}

#content-wrapper p a:hover,
#content-wrapper .p-like a:hover {
    color: #2e6c2b;
}

#content-wrapper video,
#content-wrapper img {

}

.one-one-ratio {
    display: block;
    height: auto;
    width: min(100%, 400px);
    margin: auto;
}

.sixteen-nine-ratio {
    display: block;
    height: auto;
    width: min(100%, 700px);
    margin: auto;
}

.social-icon {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
/* *********** */

/* Add media query at 800px (for mobile) to collapse menu and review all style rules */

@media all and (max-width: 800px)  {
    #body-wrapper {
        margin-left: unset;
    }

    #header-desktop {
        display: none;
    }

    #header-mobile {
        display: block;
        position: fixed;
        top: 0;
        z-index: 1000;
        width: 100vw;
        height: 80px;
        opacity: 1;
        box-shadow: 0px 0px 7px 1px #787878;
        background-color: #373752;
        color: white;
    }

    #body-wrapper {
        padding: 0px;
        display: block;
    }

    body {
        margin: 0px;
    }

    #content-wrapper {
        margin: 0px;
        margin-top: 80px;
        padding: 10px;
        width: calc(100% - 20px);
        text-align: left;
        font-size: 14px;
    }

    .mobile-sidebar-content-active {
        display: block !important;
        margin-top: 100px;
        text-align: left;
        margin-left: 30px;
    }


    #mobile-sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px;
        padding-bottom: 0px;
    }

    #mobile-sidebar > .sidebar-header {
        margin-bottom: unset;
        text-align: left;
    }

    .menu-icon {
        width: 40px;
    }

    .menu-icon {
        padding: 4px;
        background-color: white;
        border-radius: 4px;
    }

    .menu-icon:hover {
        background-color: rgb(182, 182, 182);
    }

    .sidebar-title {
        font-size: 20px;
    }

    .sidebar-subtitle {
        font-size: 16px;
        color: rgb(139 139 139);
    }

    #mobile-menu-toggle {
        margin-right: 5px;
    }
}