@font-face {
    font-family: Mermaid;
    src:    url('/assets/font/Mermaid.woff') format('woff'),
            url('/assets/font/Mermaid.ttf')  format('truetype');
}

@font-face {
    font-family: MadeOuterSans;
    src:    url('/assets/font/MADEOuterSans-Light.woff') format('woff'),
            url('/assets/font/MADEOuterSans-Light.ttf')  format('truetype');
}

@font-face {
    font-family: Philosopher;
    src:    url('/assets/font/Philosopher-Regular.woff') format('woff'),
            url('/assets/font/Philosopher-Regular.ttf') format('truetype');
}

body {
    font-family: MadeOuterSans, Mermaid, Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    text-align: center;
}

#body-wrapper {
    display: inline-block;
    padding: 50px;
    max-width: 1200px;
}

header {
    position: fixed;
    width: 200px;
    text-align: left;
}

header::after {
    content:"";
    background: #343434;
    position: absolute;
    top: 0;
    left: 220px;
    margin-top: 25px;
    height: calc(100% - 25px);
    width: 3px;
}

a {
    color: unset;
    text-decoration: unset;
}
.sidebar-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.sidebar-title {
    font-size: 27px;
    font-weight: 900;
}

.sidebar-subtitle {
    font-size: 14px;
    color: rgb(116, 116, 116);
}

.nav-list {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nav-item > a:hover {
    color: grey;
}

.nav-item.active {
    color: rgb(133, 16, 16);
}

.nav-item > a.active:hover {
    color: unset;
}

#nav-contact {
    margin-top: 20px;
    font-size: 20px;
}

.nav-sublinks {
    margin-left: 20px;
    font-size: 15px;
}

#content-wrapper {
    /* 1200 - padding - sidebar_width */
    /* max-width: 1000px; */
    width: min(850px, 55vw);
    margin-left: 250px;
    text-align: left;
}

div.center {
    text-align: center;
}

/* Text styles */
#content-wrapper p,
#content-wrapper .p-like {
    line-height: 2;
    font-size: 16px;
    color: #242424;
}

#content-wrapper .p-like {
    line-height: unset !important;
}
#content-wrapper p a,
#content-wrapper .p-like a {
    color: grey;
    text-decoration: underline;
}

#content-wrapper p a:hover,
#content-wrapper .p-like a:hover {
    color: #2e6c2b;
}

#content-wrapper video,
#content-wrapper img {
    display: block;
    height: auto;
    width: min(100%, 700px);
}

.social-icon {
    display: inline-block !important;
    width: 20px !important;
    height: 20px !important;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
/* *********** */

/* Add media query at 800px (for mobile) to collapse menu and review all style rules */