<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="icon" type="images/x-icon" href="/assets/favicon.ico" />
    <script src="/assets/script.js"></script>
    <title>Amaury Loubry - Unity Developer</title>
</head>
<body>
    <div id="mobile-sidebar-content">
        {% include sidebar-content.html %}
    </div>
    <div id="body-wrapper">

        {% include header.html %}

        <div id="content-wrapper">
            <h2>{{ page.title }}</h2>
            {{ content }}
        </div>
    </div>
</body>
</html>